page-politica {
    ion-content {
        line-height: 20px;
    }
    h2, .content{
        color: #747272;
    }

    h2 {
        font-size: 1.6rem;
    }

    ul {
        padding-left: 15px !important;
    }

    ul li{
        line-height: 20px;
        margin-bottom: 10px;
    }

    ul li a {
        color: #3f3d3d;
    }

    ion-content, ul li {
        text-align: justify;
    }
}
