modal {

    #overlay {
        position: fixed; 
        display: block; 
        width: 100%; 
        height: 100%; 
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8); 
        z-index: 1; 
        cursor: pointer; 
    }

    .wrapper { 
        display: grid; 
        grid-template-columns: 1fr 250px 1fr; 
        grid-template-rows: 1.5fr 1fr 1fr; 
    } 

    .box { 
        grid-column-start: 2; 
        grid-row-start: 2; 
        grid-row-end: 3; 
        color: $cor-branca;
        z-index: 999 !important;
    }

    img {
        width: 50%;
    }

}
