<!-- menu footer -->
<ion-footer class="footer">
  <ion-grid class="footerMenu">
    <ion-row center>
      <ion-col></ion-col>
      <ion-col class="info" (click)="navInfo()"><img src="assets/imgs/info_simpls.png" class="imgMenu"></ion-col>
      <ion-col (click)="navHome()"><img src="assets/imgs/icon-sacola.png" class="imgMenu imgPrincipal"></ion-col>
      <ion-col class="perfil" (click)="navPerfil()"><img src="assets/imgs/icon-perfil.png" class="imgMenu"></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

