footer {
    // menu footer

    .footerMenu {
        padding: 0 !important;
    }

    .col {
        padding: 0 !important;
    }

    .info {
        margin-right: 0.5rem;
    }
    .perfil {
        margin-left: 1.5rem;
    }

    .info,
    .perfil {
        margin-top: 1rem;
    }

    .imgPrincipal {
        zoom: 2;
    }
    .footer {
        background-color: #f2f2f2;
    }
    
    .footer ion-grid {
        padding-left: 5px !important;
    }
    
    .footerMenu .imgMenu{
        max-height: 54px;
    }
    
}
